/*Colores:*/ 
.amarillo{
    color: #fce289;
}
.amarillo_oscuro{
    color: #C9B56E;
}
.rosa{
    color: #FE759F;
}
.rosa_oscuro{
    color: #CC5F7F;
}
.azul{
    color: #95E1D4;
}
.azul_oscuro{
    color: #78B3A9;
}
.verde{
    color: #E9FFD0;
}
.verde_oscuro{
    color: #BDCBA7;
}



/* Botón en estado normal */
.button {
    -fx-background-color: #77B3A9; 
    -fx-text-fill: white;       
    -fx-font-size: 14px;         
    -fx-border-radius: 5px;      
    -fx-background-radius: 5px;  
    -fx-border-color: #69B1A3;
    -fx-border-width: 2px;   
}

/* Hover */
.button:hover {
    -fx-background-color: #95E2D4;
    -fx-text-fill: white; 
}

/* Botón presionado */
.button:pressed {
    -fx-background-color: #69B1A3; 
    -fx-text-fill: white;
}

/* Estilo para los gráficos dentro del botón (ImageView) en estado normal */
.button > .graphic {
    -fx-background-color: #000000;
    -fx-opacity: 1; 
}

/* Gráfico (ImageView) en hover */
.button:hover > .graphic {
    -fx-opacity: 0.8; 
}

/* Botón seleccionado (si necesitas manejar el estado con focus) */
.button:focused {
    -fx-background-color: #95E2D4; 
    -fx-text-fill: white;     
}


/**/
.barraProgreso{
    color: #fce289;
}

